Created temporary directory: C:\Users\jacqu\AppData\Local\Temp\pip-ephem-wheel-cache-zp4hwqdm
Checking in c:\users\jacqu\desktop\springboard\titanic_datascience for .bzr (bzr)...
Checking in c:\users\jacqu\desktop\springboard\titanic_datascience for .svn (svn)...
Checking in c:\users\jacqu\desktop\springboard\titanic_datascience for .hg (hg)...
Checking in c:\users\jacqu\desktop\springboard\titanic_datascience for .git (git)...
Determine that c:\users\jacqu\desktop\springboard\titanic_datascience uses VCS: git
certifi==2018.8.24
pypandoc==1.4
-e git+https://github.com/jacqpool/Springboard.git@e219f15d890353b4eb52b9aa0d6df4675e7d478b#egg=titanic&subdirectory=titanic_datascience
wincertstore==0.2
